body {
	background-color: #ffffff;
}

.container {
	padding-left: 100px;
  padding-right: 100px;
}

.profile-pic {
  padding-top: 50px;
  padding-left: 50px;
}

.jumbotron {
	background-color: #ffffff;
}

.container {
	font-family: 'Open Sans', sans-serif;
}

.color {
	color: #ff69b4;
}

.site-title {
	/*font-family: 'Pacifico', cursive;*/
	background-color: #F3F315;
}

/*.page-footer {
	padding-top: 50px;
	padding-bottom:50px;
}*/

.list-group-item {
	border: none;
	padding: 0px 0px;
}

#title-header {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F3F315;
}

a.about:hover {
	background-color: #ff69b4;	
}

a.projects:hover {
	background-color: #99FF00;	
}

a.research:hover {
	background-color: #ff69b4;	
}

a:hover {
	background-color: #ff69b4;
}

a.cv:hover {
	background-color: #99FF00;	
}

/*.about-title {
	background-color: #ff69b4;
}*/

.projects-title {
	background-color: #f5f5f5;
}

.research-title {
	background-color: #f5f5f5;
}

/*.overlay-first {
	color: #ff69b4;
}*/

/*.overlay-second {
	background-color: #99FF00;
}*/

.progress {
	height: 15px;
	width: 500px;
}

.personal {
	margin-top: 20px;
	position: relative;
}

.img-content {
    background-color: #99FF00;
    opacity: 0.8;
    top:50px;
    left:15px;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    /*padding-left: 30px;*/
}


h1 {
	font-size: 50px;
}

/*.ux-progress {
	background-color: #ff69b4;;
}*/

.skill-title {
	width: 250px;
	float: left;
}

.skill-level {
	width: 250px;
	/*float: right;*/
}




/*.
Tweet Spot CSS
}*/

#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

header
{
  width: 100%;
  height: 100%;
  /*background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;*/
  top: 0;
  position: fixed;
  z-index: -1;
}

/*footer
{
  width: 100%;
  height: 300px;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}*/

.content
{
  height: auto;
  min-height: auto;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /*text-transform: uppercase;*/
  text-align: left;
  /*font-family: Helvetica;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  color: #000000;
}

header h1{}

.content h1{
  /*line-height: 1000px;*/
  color: #999;
}

footer h1
{
  line-height: 300px;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}