.jumbotron {
	background-color: white;
}

.container {
	font-family: 'Josefin Sans', sans-serif;
}

.color {
	color: #ff69b4;
}

.page-footer {
	padding-top: 50px;
	padding-bottom:50px;
}

.list-group-item {
	border: none;
	padding: 0px 0px;
}

.progress {
	height: 15px;
	width: 500px;
}

/*.ux-progress {
	background-color: #ff69b4;;
}*/

.skill-title {
	width: 250px;
	float: left;
}

.skill-level {
	width: 250px;
	/*float: right;*/
}

